* {
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  width: 500px;
  display: block;
  margin: auto;
}

.numbers {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.container .numbers .active {
  background-color: #7950f2;
  color: #fff;
}

.para {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.buttons {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: #7950f2;
  color: #fff;
  font-weight: bold;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #4e13ff;
}
.reset {
  margin-left: 210px;
  margin-top: 50px;
  background-color: #e90606;
  color: #fff;
  font-weight: bold;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reset:hover {
  background-color: #fd1616;
}

.revert {
  margin-left: 210px;
  margin-top: 50px;
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
